.App {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

html {
  background-image: url("./Images/woodbg.jpeg") ; 
  background-size: cover;
  height: 100%;
}
